<tr>
	<td>
		<%= xml_file.file_name%>
	</td>
	<td>
		<%= xml_file.file_path%>
	</td>
	<td>
		<%= render "common/status", status: xml_file.status%><% if xml_file.file_error.present?%><%= render "common/error", message: xml_file.file_error%><%end%>
	</td>
	<td>
		<%= link_to xml_file, class: "btn btn-info" do %>
			<i class="fas fa-eye"></i>
		<%end%>
		<%if policy(XmlFile).write?%>
			<%= link_to xml_file, method: :delete, data: { confirm: "Are you sure you want to delete this file?"}, class: "btn btn-danger" do %>
				<i class="fas fa-trash"></i>
			<%end%>
		<% end -%>
	</td>
</tr>
