<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <link rel="icon" type="image/x-icon" href="/favicon.ico">
   <title><%= yield(:page_name)%></title><!-- =============== VENDOR STYLES ===============-->
   <!-- FONT AWESOME-->
   <link rel="stylesheet" href="/templates/admin/vendor/@fortawesome/fontawesome-free/css/brands.css">
   <link rel="stylesheet" href="/templates/admin/vendor/@fortawesome/fontawesome-free/css/regular.css">
   <link rel="stylesheet" href="/templates/admin/vendor/@fortawesome/fontawesome-free/css/solid.css">
   <link rel="stylesheet" href="/templates/admin/vendor/@fortawesome/fontawesome-free/css/fontawesome.css"><!-- SIMPLE LINE ICONS-->
   <link rel="stylesheet" href="/templates/admin/vendor/simple-line-icons/css/simple-line-icons.css"><!-- ANIMATE.CSS-->
   <link rel="stylesheet" href="/templates/admin/vendor/animate.css/animate.css"><!-- WHIRL (spinners)-->
   <link rel="stylesheet" href="/templates/admin/vendor/whirl/dist/whirl.css"><!-- =============== PAGE VENDOR STYLES ===============-->
   <!-- =============== BOOTSTRAP STYLES ===============-->
   <link rel="stylesheet" href="/templates/admin/css/bootstrap.css" id="bscss"><!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="/templates/admin/css/app.css" id="maincss">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>
</head>

<body>
   <div class="wrapper">
      <%= render 'layouts/partials/header'%>
      <%= render 'layouts/partials/sidebar'%>
      <%= render 'layouts/partials/right_sidebar'%>
      <!-- Main section-->
      <section class="section-container">
         <div class="content-wrapper">
           <div class="content-heading">
              <div><%= yield(:page_name) %></div>
           </div>
           <div class="row">
               <div class="col-12">
                  <%if notice.present? || alert.present?%>
                     <div class="alert alert-<%= notice ? 'success' : 'danger'%> alert-dismissible fade show" role="alert">
                       <%= notice || alert%>
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                  <%end%>                 
               </div>
               <div class="col-lg-12">
                  <%= yield%>
               </div>
           </div>
        </div>
      </section><!-- Page footer-->
      <footer class="footer-container"><span>&copy; <%= Date.today.year%> - Load XML</span></footer>
   </div><!-- =============== VENDOR SCRIPTS ===============-->
   <!-- MODERNIZR-->
   <script src="/templates/admin/vendor/modernizr/modernizr.custom.js"></script><!-- STORAGE API-->
   <script src="/templates/admin/vendor/js-storage/js.storage.js"></script><!-- SCREENFULL-->
   <script src="/templates/admin/vendor/screenfull/dist/screenfull.js"></script><!-- i18next-->
   <!-- =============== APP SCRIPTS ===============-->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   <script src="/templates/admin/js/app.js"></script>
   <%= javascript_importmap_tags %>
   <%= render "common/modal"%>
   <style>
      .error-field{
        border-color: #f05050!important
      }
   </style> 
   <script>
      const copyContent = async (elem) => {
         let text = document.getElementById(elem).innerHTML;
        try {
          await navigator.clipboard.writeText(text);
          console.log('Content copied to clipboard');
        } catch (err) {
          console.error('Failed to copy: ', err);
        }
      }
   </script>   
</body>

</html>
